/** {
  border: 1px solid red;
}*/

body{
  margin-left: auto;
  margin-right: auto;
  background-color: #fffae0;
}

div#head.front figure{
  width: 960px;
  height: 336px;
}

div.front{
  padding: 5px;
  margin-left: 100px;
}

div.front#head h1{
  font-family: "Copperplate Gothic Light";
  text-align: center;
  font-size: 60px;
  font-style: oblique;
  font-stretch: expanded;
  margin-left: 200px;
  margin-right: 200px;
}
div.front#head figure{
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}
div.front p{
  text-align: justify;
  font-size: 25px;
  color: #0d5eaf;
  font-family: "Copperplate Gothic Light";
}

div#nav.site{
  width: 100px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(13, 94, 175,.5);

}
a {
    background-color: rgb(13, 94, 175);
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 77px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    border: white 1px solid;
    border-radius: 2px;
}
a:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
